body {
    font-size: 16px;
    background-color: #997777;
    font-family: 'Times New Roman', Times, serif;
}

#home {
    color: darkslateblue;
    font-size: 24px;
    display: block;
    text-align: center;
}

#home:hover {
    color: darkblue;
}

h1 {
    font-size: 32px;
    text-align: center;
}

img {
    display: block;
    width: 75%;
    margin: auto;
}

div {
    display: block;
    margin: auto;
    /* border: solid black 2px; */
    margin: 10px;
}

p {
    padding-left: 40px;
}

h2 {
    margin-left: 10px;
    padding-left: 25px;
    margin-bottom: -10px;
    border: solid black 2px;
}

div ol, div ul {
    margin-left: 10px;
    padding-left: 40px;
    /*border: solid black 1px;*/
}